<div id="page-guide">
  <form action=<%= browse_path %>>
    <p>page: <input type="text" name="page" value=<%= @page.to_s %> id="page-input"></p>
    <input type="submit" style="visibility: hidden;">
  </form>
</div>
